*.affy
*.csv
*.e??????
*.fa
*.feature
*.gspan
*.gz
log
*.log
log.txt
Makefile
*.model
*.o??????
*.param
*.perf
*.pred
*.svrout
test_*
*.sequence
*.dummy
*.bz2
*.class
*.cv
*.cv_sgd
*.model_*
output.cv_predictions.*
*.output_predictions
*.nt_margins
*.vertex_margins
*.vertex_dict
